# Ignore Python cache files
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
*.pyc
dist/
.DS_Store

#ignore local environment
.env
.venv

# specific folders
classes/
tutorials/tutorial_api.ipynb
tutorials/tutorial_localprojections.ipynb
tutorials/tutorial_svar_vs_lp.ipynb